<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>

     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
      <!-- navbar -->
      <nav>
        <div class="nav-wrapper">
          <a href='{{ url_for('showRestaurant') }}' class="brand-logo">Restaurantes</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href='{{ url_for('newRestaurant') }}'>Novo</a></li>
          </ul>
        </div>
      </nav>

      <div class="row">
        <form class="col s12" action='{{ url_for('deleteRestaurant', restaurant_id = restaurant_id) }}' method='POST'>
          <div class="row">
            <h5>Tem certeza que deseja excluir o restaurante <strong>{{ item.name }}</strong>?</h5>
            <div class="row">
              <div class="col s12">
                <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Deletar</button>
                <a class="waves-effect waves-light btn-large" href='{{ url_for('showRestaurant') }}'>cancel</a>
              </div>
            </div>
        </form>
      </div>


      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    </body>
  </html>
