<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </head>
  <body>
      <!-- navbar -->
      <nav>
        <div class="nav-wrapper">
          <a href='{{ url_for('showRestaurant') }}' class="brand-logo">Restaurantes</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href='{{ url_for('newRestaurant') }}'>Novo</a></li>
            <!-- <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li> -->
          </ul>
        </div>
      </nav>

    <h1>All Restaurants</h1>

    <div>
          {% for rest in restaurant %}
            <ul>
                <a href='{{ url_for('showMenu', restaurant_id = rest.id) }}'>
                  <li> <strong> {{ rest.name }} </strong> </li>
                </a>
            </ul>
          {% endfor %}
    </div>

  </body>
</html>
